html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main-slider {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  position: relative;
}

.slide-bgimg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Flechas */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
